{:highlights [{:id #uuid "646ad0e8-e3c3-41de-b42a-eacb25e38c5a",
               :page 11,
               :position {:bounding {:x1 7,
                                     :y1 49.55029296875,
                                     :x2 434,
                                     :y2 218.55029296875,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1684721896065},
               :properties {:color "red"}}
              {:id #uuid "646ad167-dc66-4f85-97e3-7cff5fe702d1",
               :page 12,
               :position {:bounding {:x1 8,
                                     :y1 47.619384765625,
                                     :x2 492,
                                     :y2 283.619384765625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1684722022317},
               :properties {:color "red"}}
              {:id #uuid "646ad203-066d-47fb-865c-530665f8b0bd",
               :page 16,
               :position {:bounding {:x1 35,
                                     :y1 152.65966796875,
                                     :x2 504,
                                     :y2 269.65966796875,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1684722178560},
               :properties {:color "red"}}
              {:id #uuid "646ad351-40aa-4709-a750-a4094aca99a4",
               :page 17,
               :position {:bounding {:x1 14,
                                     :y1 54.03076171875,
                                     :x2 497,
                                     :y2 281.03076171875,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 17},
               :content {:text "[:span]", :image 1684722512566},
               :properties {:color "green"}}
              {:id #uuid "646ad3ce-5422-48e3-b001-180c9761de1e",
               :page 20,
               :position {:bounding {:x1 122,
                                     :y1 126.55712890625,
                                     :x2 427,
                                     :y2 206.55712890625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 20},
               :content {:text "[:span]", :image 1684722637847},
               :properties {:color "red"}}
              {:id #uuid "646ad406-4dcc-4990-ba3e-d54ad6d28328",
               :page 21,
               :position {:bounding {:x1 112,
                                     :y1 123.046875,
                                     :x2 399,
                                     :y2 286.046875,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 21},
               :content {:text "[:span]", :image 1684722693614},
               :properties {:color "yellow"}}
              {:id #uuid "646ad59d-4499-445f-9ad8-7ee8cca96c27",
               :page 23,
               :position {:bounding {:x1 6,
                                     :y1 49.3408203125,
                                     :x2 484,
                                     :y2 182.3408203125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 23},
               :content {:text "[:span]", :image 1684723100879},
               :properties {:color "red"}}
              {:id #uuid "646ad5e6-704d-483a-a63d-9b5c9e35f080",
               :page 24,
               :position {:bounding {:x1 107,
                                     :y1 87.60595703125,
                                     :x2 383,
                                     :y2 171.60595703125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 24},
               :content {:text "[:span]", :image 1684723171592},
               :properties {:color "green"}}
              {:id #uuid "646ad65c-b978-4d24-ae81-2a5917f84b2f",
               :page 25,
               :position {:bounding {:x1 26,
                                     :y1 122.353515625,
                                     :x2 514,
                                     :y2 247.353515625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 25},
               :content {:text "[:span]", :image 1684723288943},
               :properties {:color "yellow"}}
              {:id #uuid "646ad946-9d5f-46d1-9ceb-0a3218209d7a",
               :page 27,
               :position {:bounding {:x1 19,
                                     :y1 52.92431640625,
                                     :x2 420,
                                     :y2 230.92431640625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 27},
               :content {:text "[:span]", :image 1684724036252},
               :properties {:color "yellow"}}
              {:id #uuid "646ad9a0-f445-4f08-a79e-df6cf9fa8e5e",
               :page 28,
               :position {:bounding {:x1 20,
                                     :y1 76.99658203125,
                                     :x2 515,
                                     :y2 228.99658203125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 28},
               :content {:text "[:span]", :image 1684724126873},
               :properties {:color "yellow"}}
              {:id #uuid "646addc8-bea9-4713-ad83-bd8b95842468",
               :page 31,
               :position {:bounding {:x1 7,
                                     :y1 32.7734375,
                                     :x2 517,
                                     :y2 277.7734375,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 31},
               :content {:text "[:span]", :image 1684725190560},
               :properties {:color "red"}}
              {:id #uuid "646addd9-8f7c-4928-b00f-374bceb48b2b",
               :page 32,
               :position {:bounding {:x1 2,
                                     :y1 43.8251953125,
                                     :x2 510,
                                     :y2 304.8251953125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 32},
               :content {:text "[:span]", :image 1684725208134},
               :properties {:color "red"}}
              {:id #uuid "646adf3e-38b7-4d9d-9ff4-56b35b5bf766",
               :page 41,
               :position {:bounding {:x1 20.104555815458298,
                                     :y1 15.52593994140625,
                                     :x2 226.06115409731865,
                                     :y2 38.34770202636719,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects ({:x1 20.104555815458298,
                                   :y1 15.52593994140625,
                                   :x2 226.06115409731865,
                                   :y2 38.34770202636719,
                                   :width 518.9999999999999,
                                   :height 291.93749999999994}),
                          :page 41},
               :content {:text "TRANSFORMER翻译示例"},
               :properties {:color "yellow"}}
              {:id #uuid "646adf63-3fba-4659-b7c0-c9c2e41e8a91",
               :page 41,
               :position {:bounding {:x1 18,
                                     :y1 59.619140625,
                                     :x2 508,
                                     :y2 267.619140625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 41},
               :content {:text "[:span]", :image 1684725602206},
               :properties {:color "red"}}
              {:id #uuid "646adf75-1901-41f2-886c-b004ab09e119",
               :page 42,
               :position {:bounding {:x1 6,
                                     :y1 43.7470703125,
                                     :x2 516,
                                     :y2 268.7470703125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 42},
               :content {:text "[:span]", :image 1684725620836},
               :properties {:color "red"}}
              {:id #uuid "646adfe1-cc7c-4173-bd6b-c2c433288dbd",
               :page 43,
               :position {:bounding {:x1 6,
                                     :y1 92.7236328125,
                                     :x2 507,
                                     :y2 248.7236328125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 43},
               :content {:text "[:span]", :image 1684725728936},
               :properties {:color "yellow"}}
              {:id #uuid "646ae01a-38d9-4815-80ba-fc115308c662",
               :page 44,
               :position {:bounding {:x1 9,
                                     :y1 91.4697265625,
                                     :x2 508,
                                     :y2 288.4697265625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 44},
               :content {:text "[:span]", :image 1684725785977},
               :properties {:color "green"}}
              {:id #uuid "646ae044-3e21-4d77-ae6d-6b458611865e",
               :page 45,
               :position {:bounding {:x1 7,
                                     :y1 54.1689453125,
                                     :x2 476,
                                     :y2 263.1689453125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 45},
               :content {:text "[:span]", :image 1684725825353},
               :properties {:color "yellow"}}
              {:id #uuid "646ae09a-7e14-46a7-a7af-13eca59e73b2",
               :page 47,
               :position {:bounding {:x1 44,
                                     :y1 33.15802001953125,
                                     :x2 492.9969787597656,
                                     :y2 302.740234375,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 47},
               :content {:text "[:span]", :image 1684725917001},
               :properties {:color "green"}}
              {:id #uuid "646ae0a5-d027-49aa-bb62-e25efaa5f1a4",
               :page 48,
               :position {:bounding {:x1 31,
                                     :y1 35.529571533203125,
                                     :x2 489.9957580566406,
                                     :y2 291.93927001953125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 48},
               :content {:text "[:span]", :image 1684725927795},
               :properties {:color "green"}}
              {:id #uuid "646ae0b3-313e-4427-9b2c-1f6f3779cbfa",
               :page 49,
               :position {:bounding {:x1 55.589115142822266,
                                     :y1 21.751953125,
                                     :x2 442.995849609375,
                                     :y2 294.7502746582031,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 49},
               :content {:text "[:span]", :image 1684725941445},
               :properties {:color "green"}}
              {:id #uuid "646ae0bd-463c-4e3c-993a-cf51c226269f",
               :page 50,
               :position {:bounding {:x1 36,
                                     :y1 23.450540411705845,
                                     :x2 502.99761962890625,
                                     :y2 295.5605773925781,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 50},
               :content {:text "[:span]", :image 1684725951406},
               :properties {:color "green"}}
              {:id #uuid "646ae0c7-5220-43ef-a214-d24b4928ed13",
               :page 51,
               :position {:bounding {:x1 30,
                                     :y1 29.391693115234375,
                                     :x2 517.9936828613281,
                                     :y2 294.16705322265625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 51},
               :content {:text "[:span]", :image 1684725961662},
               :properties {:color "green"}}
              {:id #uuid "646ae0d3-44d7-444d-9b96-b296f1a45748",
               :page 52,
               :position {:bounding {:x1 55,
                                     :y1 22.3779296875,
                                     :x2 450,
                                     :y2 293.3779296875,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 52},
               :content {:text "[:span]", :image 1684725969928},
               :properties {:color "green"}}
              {:id #uuid "646ae0da-60bb-4a06-abb0-ac8cc0c97e37",
               :page 53,
               :position {:bounding {:x1 55,
                                     :y1 32.94921875,
                                     :x2 449,
                                     :y2 293.94921875,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 53},
               :content {:text "[:span]", :image 1684725977792},
               :properties {:color "green"}}
              {:id #uuid "646ae0e2-2532-445f-98b4-40a862619c53",
               :page 54,
               :position {:bounding {:x1 52,
                                     :y1 27.6826171875,
                                     :x2 437,
                                     :y2 296.6826171875,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 54},
               :content {:text "[:span]", :image 1684725984731},
               :properties {:color "green"}}
              {:id #uuid "646ae0e9-1253-41c7-bfdc-7d0d6e7f8792",
               :page 55,
               :position {:bounding {:x1 54,
                                     :y1 33.236328125,
                                     :x2 445,
                                     :y2 295.236328125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 55},
               :content {:text "[:span]", :image 1684725992404},
               :properties {:color "green"}}
              {:id #uuid "646ae0f0-02f2-4b8f-a6ed-05ade6931537",
               :page 56,
               :position {:bounding {:x1 46,
                                     :y1 29.662109375,
                                     :x2 436.2522888183594,
                                     :y2 292.6616516113281,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 56},
               :content {:text "[:span]", :image 1684726002353},
               :properties {:color "green"}}
              {:id #uuid "646ae101-7b22-4730-80ac-7a03fced0eb2",
               :page 57,
               :position {:bounding {:x1 69,
                                     :y1 41.873046875,
                                     :x2 408,
                                     :y2 291.873046875,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 57},
               :content {:text "[:span]", :image 1684726016405},
               :properties {:color "yellow"}}
              {:id #uuid "646ae440-eedb-4f3f-bc10-bcb9f3a6efb0",
               :page 61,
               :position {:bounding {:x1 28,
                                     :y1 74.455078125,
                                     :x2 493,
                                     :y2 208.455078125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 61},
               :content {:text "[:span]", :image 1684726847348},
               :properties {:color "red"}}
              {:id #uuid "646ae455-2ba9-4a6f-b447-1c077984d84c",
               :page 62,
               :position {:bounding {:x1 15,
                                     :y1 53.5078125,
                                     :x2 496,
                                     :y2 239.5078125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 62},
               :content {:text "[:span]", :image 1684726868615},
               :properties {:color "green"}}
              {:id #uuid "646ae45d-e120-4242-a9e1-d550b7e81d63",
               :page 63,
               :position {:bounding {:x1 12,
                                     :y1 51.166015625,
                                     :x2 484,
                                     :y2 255.166015625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 63},
               :content {:text "[:span]", :image 1684726875902},
               :properties {:color "red"}}
              {:id #uuid "646ae60c-326c-4438-8295-cdbd7b6f3d70",
               :page 64,
               :position {:bounding {:x1 62,
                                     :y1 155.03515625,
                                     :x2 461,
                                     :y2 184.03515625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 64},
               :content {:text "[:span]", :image 1684727306851},
               :properties {:color "green"}}
              {:id #uuid "646ae635-7a9c-4c34-9ce4-b0648b6365f5",
               :page 65,
               :position {:bounding {:x1 28,
                                     :y1 81.3828125,
                                     :x2 517,
                                     :y2 187.3828125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 65},
               :content {:text "[:span]", :image 1684727346215},
               :properties {:color "yellow"}}
              {:id #uuid "646ae63f-cf2f-4d0a-a732-115d78ceb939",
               :page 65,
               :position {:bounding {:x1 25,
                                     :y1 187.3828125,
                                     :x2 418,
                                     :y2 284.3828125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 65},
               :content {:text "[:span]", :image 1684727358670},
               :properties {:color "yellow"}}],
 :extra {:page 68}}
