{:highlights [{:id #uuid "6445e9b1-db17-46b8-b940-0e9a12d35332",
               :page 47,
               :position {:bounding {:x1 114,
                                     :y1 92.80078125,
                                     :x2 425,
                                     :y2 237.80078125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 47},
               :content {:text "[:span]", :image 1682303408160},
               :properties {:color "red"}}
              {:id #uuid "6445ea52-9f99-40be-a193-f7981ab004c7",
               :page 49,
               :position {:bounding {:x1 166,
                                     :y1 152.5234375,
                                     :x2 405,
                                     :y2 246.5234375,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 49},
               :content {:text "[:span]", :image 1682303569693},
               :properties {:color "red"}}
              {:id #uuid "6445eb81-b204-4d89-9425-0d9cbe7ac63c",
               :page 50,
               :position {:bounding {:x1 97,
                                     :y1 80.09765625,
                                     :x2 407,
                                     :y2 151.09765625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 50},
               :content {:text "[:span]", :image 1682303872182},
               :properties {:color "red"}}
              {:id #uuid "6445eb8c-a9c7-4ec7-b321-d0ff14ba4d3f",
               :page 50,
               :position {:bounding {:x1 79,
                                     :y1 200.09765625,
                                     :x2 429,
                                     :y2 269.09765625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 50},
               :content {:text "[:span]", :image 1682303883834},
               :properties {:color "red"}}
              {:id #uuid "6445ebab-708a-47f6-9a02-cbbb24e5e81d",
               :page 51,
               :position {:bounding {:x1 70,
                                     :y1 60.24609375,
                                     :x2 474,
                                     :y2 280.24609375,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 51},
               :content {:text "[:span]", :image 1682303914520},
               :properties {:color "red"}}
              {:id #uuid "6445ee56-06aa-4873-93ee-b825f774fd7a",
               :page 54,
               :position {:bounding {:x1 13,
                                     :y1 49.7275390625,
                                     :x2 477,
                                     :y2 293.7275390625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 54},
               :content {:text "[:span]", :image 1682304597679},
               :properties {:color "red"}}
              {:id #uuid "6445ee64-1244-402b-a93d-47d7e5a7a447",
               :page 55,
               :position {:bounding {:x1 8,
                                     :y1 49.5888671875,
                                     :x2 493,
                                     :y2 293.5888671875,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 55},
               :content {:text "[:span]", :image 1682304611658},
               :properties {:color "red"}}
              {:id #uuid "6445ee8d-4df2-4a6d-bd8e-20b61374e30b",
               :page 56,
               :position {:bounding {:x1 15,
                                     :y1 53.8662109375,
                                     :x2 434,
                                     :y2 279.8662109375,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 56},
               :content {:text "[:span]", :image 1682304653074},
               :properties {:color "red"}}
              {:id #uuid "6445ee97-d462-4911-bc12-1e320b5ce498",
               :page 57,
               :position {:bounding {:x1 15,
                                     :y1 51.7265625,
                                     :x2 507,
                                     :y2 266.7265625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 57},
               :content {:text "[:span]", :image 1682304662550},
               :properties {:color "red"}}
              {:id #uuid "6445eeb5-44aa-45bd-af28-3ff4814c5509",
               :page 58,
               :position {:bounding {:x1 20,
                                     :y1 112.65625,
                                     :x2 450,
                                     :y2 283.65625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 58},
               :content {:text "[:span]", :image 1682304692542},
               :properties {:color "red"}}
              {:id #uuid "6445eef4-9774-481c-93cc-4a0ab5ba1682",
               :page 60,
               :position {:bounding {:x1 2,
                                     :y1 80.091796875,
                                     :x2 505,
                                     :y2 245.091796875,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 60},
               :content {:text "[:span]", :image 1682304753135},
               :properties {:color "green"}}
              {:id #uuid "6445ef07-46fb-47a0-bc6c-b4b88ac48011",
               :page 61,
               :position {:bounding {:x1 6,
                                     :y1 87.369140625,
                                     :x2 511,
                                     :y2 277.369140625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 61},
               :content {:text "[:span]", :image 1682304773938},
               :properties {:color "green"}}
              {:id #uuid "6445ef10-a99d-431f-9d20-d526f94d1fdc",
               :page 62,
               :position {:bounding {:x1 4,
                                     :y1 83.943359375,
                                     :x2 503,
                                     :y2 281.943359375,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 62},
               :content {:text "[:span]", :image 1682304783902},
               :properties {:color "green"}}
              {:id #uuid "6445ef26-a4d2-4133-a06d-123f9c790856",
               :page 63,
               :position {:bounding {:x1 15,
                                     :y1 57.091796875,
                                     :x2 474,
                                     :y2 282.091796875,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 63},
               :content {:text "[:span]", :image 1682304805247},
               :properties {:color "green"}}
              {:id #uuid "6445ef53-dbb7-4ed8-bea9-c22374216366",
               :page 64,
               :position {:bounding {:x1 132,
                                     :y1 174.953125,
                                     :x2 377,
                                     :y2 297.953125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 64},
               :content {:text "[:span]", :image 1682304849968},
               :properties {:color "red"}}
              {:id #uuid "6445efba-2b5e-4060-9753-09bbc92add98",
               :page 71,
               :position {:bounding {:x1 17,
                                     :y1 82.109375,
                                     :x2 512,
                                     :y2 255.109375,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 71},
               :content {:text "[:span]", :image 1682304953854},
               :properties {:color "red"}}
              {:id #uuid "6445efd3-ac5c-4639-981b-3f637f681649",
               :page 72,
               :position {:bounding {:x1 12,
                                     :y1 9.396484375,
                                     :x2 464,
                                     :y2 284.396484375,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 72},
               :content {:text "[:span]", :image 1682304978662},
               :properties {:color "red"}}
              {:id #uuid "6445efe4-e1c1-435b-911d-b7226ad45153",
               :page 73,
               :position {:bounding {:x1 7,
                                     :y1 50.673828125,
                                     :x2 481,
                                     :y2 285.673828125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 73},
               :content {:text "[:span]", :image 1682304995112},
               :properties {:color "red"}}
              {:id #uuid "6445efec-dca9-422d-a8f6-d33577a238c4",
               :page 74,
               :position {:bounding {:x1 18,
                                     :y1 52.662109375,
                                     :x2 455,
                                     :y2 289.662109375,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 74},
               :content {:text "[:span]", :image 1682305003336},
               :properties {:color "red"}}
              {:id #uuid "6445eff4-829f-4e24-b5cc-2db74e044758",
               :page 75,
               :position {:bounding {:x1 10,
                                     :y1 45.939453125,
                                     :x2 422,
                                     :y2 289.939453125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 75},
               :content {:text "[:span]", :image 1682305011849},
               :properties {:color "red"}}
              {:id #uuid "6445f067-4aa1-4236-99c5-2e62792668e1",
               :page 78,
               :position {:bounding {:x1 10,
                                     :y1 49.78125,
                                     :x2 441,
                                     :y2 270.78125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 78},
               :content {:text "[:span]", :image 1682305126959},
               :properties {:color "red"}}
              {:id #uuid "6445f077-e18f-4ee5-a62d-28a6e6903cf9",
               :page 80,
               :position {:bounding {:x1 15,
                                     :y1 52.345703125,
                                     :x2 463,
                                     :y2 229.345703125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 80},
               :content {:text "[:span]", :image 1682305141957},
               :properties {:color "red"}}
              {:id #uuid "6445f093-26cf-46b7-99b7-d434d3e7287f",
               :page 81,
               :position {:bounding {:x1 11,
                                     :y1 49.623046875,
                                     :x2 472,
                                     :y2 235.623046875,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 81},
               :content {:text "[:span]", :image 1682305170316},
               :properties {:color "red"}}
              {:id #uuid "6445f09b-8816-47c2-82a5-ce7ab6e501eb",
               :page 82,
               :position {:bounding {:x1 8,
                                     :y1 52.61328125,
                                     :x2 328,
                                     :y2 189.61328125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 82},
               :content {:text "[:span]", :image 1682305178544},
               :properties {:color "red"}}
              {:id #uuid "6445f10c-ab7f-491c-b36c-659570fea24c",
               :page 83,
               :position {:bounding {:x1 14,
                                     :y1 49.6015625,
                                     :x2 365,
                                     :y2 137.6015625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 83},
               :content {:text "[:span]", :image 1682305291586},
               :properties {:color "red"}}
              {:id #uuid "6445f116-3212-4631-b26b-6115fed8a646",
               :page 83,
               :position {:bounding {:x1 12,
                                     :y1 145.6015625,
                                     :x2 502,
                                     :y2 241.6015625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 83},
               :content {:text "[:span]", :image 1682305301715},
               :properties {:color "red"}}],
 :extra {:page 79}}
