{:highlights [{:id #uuid "643cbfec-d1a8-48f6-af25-791fd88aaeca",
               :page 38,
               :position {:bounding {:x1 5,
                                     :y1 48.7197265625,
                                     :x2 509,
                                     :y2 284.7197265625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 38},
               :content {:text "[:span]", :image 1681702891310},
               :properties {:color "red"}}
              {:id #uuid "643cc0f1-7c60-4100-b455-42890bbc9aaa",
               :page 45,
               :position {:bounding {:x1 10,
                                     :y1 54.0400390625,
                                     :x2 512,
                                     :y2 276.0400390625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 45},
               :content {:text "[:span]", :image 1681703152973},
               :properties {:color "red"}}
              {:id #uuid "643cc100-d148-4a04-a0e5-d4ec5239df2a",
               :page 46,
               :position {:bounding {:x1 7,
                                     :y1 50.3173828125,
                                     :x2 395,
                                     :y2 281.3173828125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 46},
               :content {:text "[:span]", :image 1681703167355},
               :properties {:color "red"}}
              {:id #uuid "643cc112-c6dd-4a33-9087-a6a143088729",
               :page 47,
               :position {:bounding {:x1 10,
                                     :y1 50.306640625,
                                     :x2 480,
                                     :y2 274.306640625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 47},
               :content {:text "[:span]", :image 1681703184943},
               :properties {:color "red"}}
              {:id #uuid "643cc142-5e50-48b1-9057-0d5954072d1b",
               :page 48,
               :position {:bounding {:x1 24,
                                     :y1 75.8994140625,
                                     :x2 503,
                                     :y2 133.8994140625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 48},
               :content {:text "[:span]", :image 1681703233750},
               :properties {:color "red"}}
              {:id #uuid "643cc155-4321-448d-a5ef-eaf3b2db14c8",
               :page 48,
               :position {:bounding {:x1 16,
                                     :y1 166.1865234375,
                                     :x2 512,
                                     :y2 215.1865234375,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 48},
               :content {:text "[:span]", :image 1681703252615},
               :properties {:color "red"}}
              {:id #uuid "643cc162-d08b-43d3-823b-6fa801027c46",
               :page 49,
               :position {:bounding {:x1 72,
                                     :y1 118.17578125,
                                     :x2 486,
                                     :y2 284.17578125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 49},
               :content {:text "[:span]", :image 1681703265527},
               :properties {:color "red"}}
              {:id #uuid "643cc1ef-a3ff-4250-878c-0322ea0fb9b9",
               :page 51,
               :position {:bounding {:x1 19,
                                     :y1 56.8984375,
                                     :x2 492,
                                     :y2 296.8984375,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 51},
               :content {:text "[:span]", :image 1681703406199},
               :properties {:color "red"}}
              {:id #uuid "643cc213-fc1d-4742-8ebe-9631fc364616",
               :page 52,
               :position {:bounding {:x1 24,
                                     :y1 76.47265625,
                                     :x2 509,
                                     :y2 289.47265625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 52},
               :content {:text "[:span]", :image 1681703442544},
               :properties {:color "red"}}
              {:id #uuid "643cc21b-df7c-4488-b9cb-7c7cc29e2ec1",
               :page 53,
               :position {:bounding {:x1 8,
                                     :y1 46.62109375,
                                     :x2 487,
                                     :y2 286.62109375,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 53},
               :content {:text "[:span]", :image 1681703450862},
               :properties {:color "red"}}
              {:id #uuid "643cc271-0499-4712-84e8-a81691f71930",
               :page 54,
               :position {:bounding {:x1 0,
                                     :y1 3.056640625,
                                     :x2 360,
                                     :y2 259.056640625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 54},
               :content {:text "[:span]", :image 1681703536170},
               :properties {:color "red"}}],
 :extra {:page 55}}
