{:highlights [{:id #uuid "64740ad2-9722-44d3-a983-74d95b10f31f",
               :page 2,
               :position {:bounding {:x1 29,
                                     :y1 76.49497985839844,
                                     :x2 513.998291015625,
                                     :y2 277.83294677734375,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1685326548454},
               :properties {:color "red"}}
              {:id #uuid "64740bc0-3b9e-4d06-9266-1b6ee858f676",
               :page 8,
               :position {:bounding {:x1 117,
                                     :y1 40.4764404296875,
                                     :x2 396,
                                     :y2 272.4764404296875,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1685326782102},
               :properties {:color "yellow"}}
              {:id #uuid "64740cfd-a394-4124-a52a-6e4f05c185f9",
               :page 13,
               :position {:bounding {:x1 13,
                                     :y1 48.409423828125,
                                     :x2 496,
                                     :y2 275.409423828125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1685327100126},
               :properties {:color "red"}}
              {:id #uuid "64740d0a-d461-44d1-bb45-62b4e80c34a6",
               :page 14,
               :position {:bounding {:x1 5,
                                     :y1 47.768798828125,
                                     :x2 508,
                                     :y2 277.768798828125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1685327113232},
               :properties {:color "red"}}
              {:id #uuid "64740d4d-ccfc-4d8b-9065-bb0f2377ae93",
               :page 22,
               :position {:bounding {:x1 14,
                                     :y1 54.9609375,
                                     :x2 472,
                                     :y2 252.9609375,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 22},
               :content {:text "[:span]", :image 1685327180983},
               :properties {:color "red"}}
              {:id #uuid "64740d61-b20b-442a-8ea8-1f81239bc5e9",
               :page 23,
               :position {:bounding {:x1 13,
                                     :y1 54.1904296875,
                                     :x2 503,
                                     :y2 230.1904296875,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 23},
               :content {:text "[:span]", :image 1685327200736},
               :properties {:color "red"}}
              {:id #uuid "64740d94-7454-4568-938f-7d8cb7b74437",
               :page 24,
               :position {:bounding {:x1 9,
                                     :y1 48.79931640625,
                                     :x2 402,
                                     :y2 220.79931640625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 24},
               :content {:text "[:span]", :image 1685327251058},
               :properties {:color "red"}}
              {:id #uuid "64740d99-810b-4947-b512-8690ad439d64",
               :page 25,
               :position {:bounding {:x1 15,
                                     :y1 54.74755859375,
                                     :x2 404,
                                     :y2 245.74755859375,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 25},
               :content {:text "[:span]", :image 1685327256792},
               :properties {:color "red"}}
              {:id #uuid "64740dc7-7b74-4830-9a9d-5bbb0ec2c513",
               :page 26,
               :position {:bounding {:x1 13,
                                     :y1 52.09375,
                                     :x2 369,
                                     :y2 212.09375,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 26},
               :content {:text "[:span]", :image 1685327302578},
               :properties {:color "red"}}
              {:id #uuid "64740ddb-8bba-4900-8e3f-32cea1f9ceac",
               :page 27,
               :position {:bounding {:x1 12,
                                     :y1 54.61572265625,
                                     :x2 416,
                                     :y2 251.61572265625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 27},
               :content {:text "[:span]", :image 1685327321514},
               :properties {:color "red"}}
              {:id #uuid "647418b7-e097-45db-b3a3-b258aadfc02c",
               :page 30,
               :position {:bounding {:x1 15,
                                     :y1 48.484375,
                                     :x2 485,
                                     :y2 289.484375,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 30},
               :content {:text "[:span]", :image 1685330102104},
               :properties {:color "red"}}
              {:id #uuid "647418d9-259b-4a72-856c-914da2132923",
               :page 31,
               :position {:bounding {:x1 23,
                                     :y1 126.689453125,
                                     :x2 502,
                                     :y2 274.689453125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 31},
               :content {:text "[:span]", :image 1685330135449},
               :properties {:color "red"}}
              {:id #uuid "64741a12-dc98-493e-8069-2022c3a6ddb4",
               :page 33,
               :position {:bounding {:x1 52,
                                     :y1 144.5107421875,
                                     :x2 483,
                                     :y2 238.5107421875,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 33},
               :content {:text "[:span]", :image 1685330449102},
               :properties {:color "red"}}
              {:id #uuid "64741b27-f08d-42ae-b1f2-a9c64041e3e1",
               :page 35,
               :position {:bounding {:x1 72,
                                     :y1 102.599609375,
                                     :x2 424,
                                     :y2 169.599609375,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 35},
               :content {:text "[:span]", :image 1685330725746},
               :properties {:color "yellow"}}
              {:id #uuid "64741b2f-b1c2-41c8-95aa-dd3de2f73c96",
               :page 35,
               :position {:bounding {:x1 57,
                                     :y1 204.599609375,
                                     :x2 427,
                                     :y2 277.599609375,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 35},
               :content {:text "[:span]", :image 1685330734663},
               :properties {:color "yellow"}}
              {:id #uuid "64741b4c-65b3-4e91-af65-e120bff0927e",
               :page 36,
               :position {:bounding {:x1 31,
                                     :y1 131.7685546875,
                                     :x2 476,
                                     :y2 261.7685546875,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 36},
               :content {:text "[:span]", :image 1685330763187},
               :properties {:color "red"}}
              {:id #uuid "64741b58-98a0-4d8e-88e4-cf39f7d0f2d3",
               :page 37,
               :position {:bounding {:x1 16,
                                     :y1 84.9384765625,
                                     :x2 493,
                                     :y2 256.9384765625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 37},
               :content {:text "[:span]", :image 1685330775152},
               :properties {:color "red"}}
              {:id #uuid "64741b5f-1184-4bd3-a9a4-cb5d1b6293f7",
               :page 38,
               :position {:bounding {:x1 106,
                                     :y1 93.861328125,
                                     :x2 356,
                                     :y2 262.861328125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 38},
               :content {:text "[:span]", :image 1685330782328},
               :properties {:color "red"}}
              {:id #uuid "64741b65-9fb0-4dc3-afd7-c242258cb0c5",
               :page 39,
               :position {:bounding {:x1 31,
                                     :y1 87.748046875,
                                     :x2 480,
                                     :y2 233.748046875,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 39},
               :content {:text "[:span]", :image 1685330788351},
               :properties {:color "red"}}
              {:id #uuid "64741b8c-8c39-4f4c-b48e-d79348dc7049",
               :page 40,
               :position {:bounding {:x1 117,
                                     :y1 80.626953125,
                                     :x2 386,
                                     :y2 268.626953125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 40},
               :content {:text "[:span]", :image 1685330827443},
               :properties {:color "red"}}
              {:id #uuid "64741b9a-30aa-4563-8960-4a94a18496d9",
               :page 41,
               :position {:bounding {:x1 73,
                                     :y1 79.626953125,
                                     :x2 479,
                                     :y2 287.626953125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 41},
               :content {:text "[:span]", :image 1685330841348},
               :properties {:color "red"}}
              {:id #uuid "64741ba8-e488-4044-adcb-1746a46dba6d",
               :page 42,
               :position {:bounding {:x1 124,
                                     :y1 77.5771484375,
                                     :x2 457,
                                     :y2 279.5771484375,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 42},
               :content {:text "[:span]", :image 1685330855044},
               :properties {:color "red"}}
              {:id #uuid "64741d1f-a2da-483a-b359-d80e31a6e913",
               :page 45,
               :position {:bounding {:x1 31,
                                     :y1 88.40625,
                                     :x2 501,
                                     :y2 261.40625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 45},
               :content {:text "[:span]", :image 1685331229712},
               :properties {:color "green"}}
              {:id #uuid "64741d40-3731-4b6e-9cc1-8ca288430a8a",
               :page 46,
               :position {:bounding {:x1 18,
                                     :y1 80.8359375,
                                     :x2 419,
                                     :y2 282.8359375,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 46},
               :content {:text "[:span]", :image 1685331262345},
               :properties {:color "yellow"}}
              {:id #uuid "64741df5-8ada-4bd7-9ea7-ad0d6ea992e2",
               :page 48,
               :position {:bounding {:x1 20.104555815458298,
                                     :y1 15.682830810546875,
                                     :x2 146.73461601138115,
                                     :y2 37.13531494140625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects ({:x1 20.104555815458298,
                                   :y1 15.682830810546875,
                                   :x2 146.73461601138115,
                                   :y2 37.13531494140625,
                                   :width 518.9999999999999,
                                   :height 291.93749999999994}),
                          :page 48},
               :content {:text "CHATGPT进化史"},
               :properties {:color "yellow"}}
              {:id #uuid "64741dfb-a3d0-438b-b79a-612de84ff938",
               :page 49,
               :position {:bounding {:x1 20.104555815458298,
                                     :y1 15.682830810546875,
                                     :x2 98.08928939700127,
                                     :y2 37.135284423828125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects ({:x1 20.104555815458298,
                                   :y1 15.682830810546875,
                                   :x2 98.08928939700127,
                                   :y2 37.135284423828125,
                                   :width 518.9999999999999,
                                   :height 291.93749999999994}),
                          :page 49},
               :content {:text "CHATGPT"},
               :properties {:color "yellow"}}
              {:id #uuid "64741fa6-daae-4416-ad3a-600cb45daebe",
               :page 51,
               :position {:bounding {:x1 27,
                                     :y1 88.23046875,
                                     :x2 554,
                                     :y2 308.23046875,
                                     :width 588,
                                     :height 330.75},
                          :rects (),
                          :page 51},
               :content {:text "[:span]", :image 1685331876969},
               :properties {:color "red"}}
              {:id #uuid "64741fc3-e951-4d34-8798-bfebe3db28f9",
               :page 52,
               :position {:bounding {:x1 225,
                                     :y1 116.1015625,
                                     :x2 525,
                                     :y2 303.1015625,
                                     :width 588,
                                     :height 330.75},
                          :rects (),
                          :page 52},
               :content {:text "[:span]", :image 1685331906365},
               :properties {:color "red"}}
              {:id #uuid "64741fdc-c0c8-4e6a-8dc3-debb05f373b3",
               :page 53,
               :position {:bounding {:x1 34,
                                     :y1 89.27438354492188,
                                     :x2 543.9953002929688,
                                     :y2 312.4855651855469,
                                     :width 588,
                                     :height 330.75},
                          :rects (),
                          :page 53},
               :content {:text "[:span]", :image 1685331936369},
               :properties {:color "red"}}
              {:id #uuid "64742001-0d58-4a22-9fcb-e97b2be8b80e",
               :page 54,
               :position {:bounding {:x1 181,
                                     :y1 182.123046875,
                                     :x2 507,
                                     :y2 334.123046875,
                                     :width 588,
                                     :height 330.75},
                          :rects (),
                          :page 54},
               :content {:text "[:span]", :image 1685331969024},
               :properties {:color "red"}}
              {:id #uuid "6474200e-834d-4947-be1b-9bd62ded13e9",
               :page 55,
               :position {:bounding {:x1 13,
                                     :y1 86.541015625,
                                     :x2 530,
                                     :y2 280.541015625,
                                     :width 588,
                                     :height 330.75},
                          :rects (),
                          :page 55},
               :content {:text "[:span]", :image 1685331982047},
               :properties {:color "red"}}
              {:id #uuid "64742020-3bc2-4a16-82ab-acb1f32aaf96",
               :page 56,
               :position {:bounding {:x1 13,
                                     :y1 125.642578125,
                                     :x2 561,
                                     :y2 276.642578125,
                                     :width 588,
                                     :height 330.75},
                          :rects (),
                          :page 56},
               :content {:text "[:span]", :image 1685331999773},
               :properties {:color "red"}}],
 :extra {:page 59}}
