{:highlights [{:id #uuid "643cad21-ee6a-4f06-948e-e108c0961d70",
               :page 6,
               :position {:bounding {:x1 33,
                                     :y1 84.64111328125,
                                     :x2 506,
                                     :y2 275.64111328125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1681698080292},
               :properties {:color "red"}}
              {:id #uuid "643cad9b-9536-4c28-8ded-4a44c555f955",
               :page 8,
               :position {:bounding {:x1 24,
                                     :y1 110.4923095703125,
                                     :x2 467,
                                     :y2 288.4923095703125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1681698202285},
               :properties {:color "red"}}
              {:id #uuid "643cae82-c7a4-47ae-868b-aae50ac80623",
               :page 12,
               :position {:bounding {:x1 10,
                                     :y1 11.511474609375,
                                     :x2 318,
                                     :y2 292.511474609375,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1681698432983},
               :properties {:color "red"}}
              {:id #uuid "643caeb5-2e09-4eb2-bbdc-a8b8ef927478",
               :page 13,
               :position {:bounding {:x1 15,
                                     :y1 80.491455078125,
                                     :x2 492,
                                     :y2 283.491455078125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1681698484325},
               :properties {:color "red"}}
              {:id #uuid "643caf14-5e1b-4311-9ee8-689f78221835",
               :page 16,
               :position {:bounding {:x1 6,
                                     :y1 50.9169921875,
                                     :x2 488,
                                     :y2 277.9169921875,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1681698579687},
               :properties {:color "red"}}
              {:id #uuid "643caf5a-e24f-4f84-aa80-b03d87dda3e9",
               :page 18,
               :position {:bounding {:x1 209,
                                     :y1 126.3525390625,
                                     :x2 508,
                                     :y2 283.3525390625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1681698649411},
               :properties {:color "red"}}
              {:id #uuid "643caf90-4f9e-4f6b-8f92-318a000a93f2",
               :page 19,
               :position {:bounding {:x1 100,
                                     :y1 81.91650390625,
                                     :x2 456,
                                     :y2 299.91650390625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1681698703762},
               :properties {:color "red"}}
              {:id #uuid "643cafa7-845e-45e1-9063-e8213bdc0fa8",
               :page 20,
               :position {:bounding {:x1 90,
                                     :y1 80.49072265625,
                                     :x2 455,
                                     :y2 237.49072265625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 20},
               :content {:text "[:span]", :image 1681698726791},
               :properties {:color "red"}}
              {:id #uuid "643cb04a-7193-48c5-a2bd-507d62c9a6b0",
               :page 22,
               :position {:bounding {:x1 25,
                                     :y1 146.86572265625,
                                     :x2 497,
                                     :y2 296.86572265625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 22},
               :content {:text "[:span]", :image 1681698889666},
               :properties {:color "red"}}
              {:id #uuid "643cb0ab-482d-4c57-9c35-d23137747c29",
               :page 23,
               :position {:bounding {:x1 129,
                                     :y1 168.2099609375,
                                     :x2 403,
                                     :y2 285.2099609375,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 23},
               :content {:text "[:span]", :image 1681698986550},
               :properties {:color "red"}}
              {:id #uuid "643cb178-2836-450f-a115-d4865690a504",
               :page 25,
               :position {:bounding {:x1 16,
                                     :y1 194.3583984375,
                                     :x2 496,
                                     :y2 273.3583984375,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 25},
               :content {:text "[:span]", :image 1681699191601},
               :properties {:color "red"}}
              {:id #uuid "643cb1cd-d832-425c-a13b-ab60bc816fed",
               :page 26,
               :position {:bounding {:x1 0,
                                     :y1 91.63525390625,
                                     :x2 497,
                                     :y2 286.63525390625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 26},
               :content {:text "[:span]", :image 1681699276734},
               :properties {:color "red"}}
              {:id #uuid "643cb1f4-7c27-4737-840a-d572c574ca56",
               :page 27,
               :position {:bounding {:x1 16,
                                     :y1 102.20947265625,
                                     :x2 491,
                                     :y2 190.20947265625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 27},
               :content {:text "[:span]", :image 1681699315101},
               :properties {:color "red"}}
              {:id #uuid "643cb37e-c96c-401b-b0f3-08c452b512fd",
               :page 29,
               :position {:bounding {:x1 40,
                                     :y1 138.634765625,
                                     :x2 431,
                                     :y2 236.634765625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 29},
               :content {:text "[:span]", :image 1681699709976},
               :properties {:color "red"}}
              {:id #uuid "643cb3f9-fe73-4598-906f-dd3971d7fb15",
               :page 30,
               :position {:bounding {:x1 17,
                                     :y1 99.921875,
                                     :x2 507,
                                     :y2 192.921875,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 30},
               :content {:text "[:span]", :image 1681699832136},
               :properties {:color "red"}}
              {:id #uuid "643cba3d-cb49-4a55-b559-d2fce6e6dfbb",
               :page 33,
               :position {:bounding {:x1 25,
                                     :y1 77.8271484375,
                                     :x2 493,
                                     :y2 119.8271484375,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 33},
               :content {:text "[:span]", :image 1681701436438},
               :properties {:color "red"}}
              {:id #uuid "643cba4a-0bc7-443d-bec9-e603dede5169",
               :page 33,
               :position {:bounding {:x1 25,
                                     :y1 147.8271484375,
                                     :x2 486,
                                     :y2 187.8271484375,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 33},
               :content {:text "[:span]", :image 1681701449672},
               :properties {:color "red"}}
              {:id #uuid "643cba61-54df-40fd-be40-e19f725fba4e",
               :page 33,
               :position {:bounding {:x1 29,
                                     :y1 205.8271484375,
                                     :x2 491,
                                     :y2 258.8271484375,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 33},
               :content {:text "[:span]", :image 1681701472908},
               :properties {:color "red"}}
              {:id #uuid "643cba9a-3bb4-4188-98a0-70e7701a5787",
               :page 34,
               :position {:bounding {:x1 117,
                                     :y1 197.6884765625,
                                     :x2 389,
                                     :y2 282.6884765625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 34},
               :content {:text "[:span]", :image 1681701528865},
               :properties {:color "red"}}
              {:id #uuid "643cbb0d-97b2-46ef-a889-edbaba793f78",
               :page 36,
               :position {:bounding {:x1 4,
                                     :y1 42.4111328125,
                                     :x2 482,
                                     :y2 285.4111328125,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 36},
               :content {:text "[:span]", :image 1681701644321},
               :properties {:color "red"}}
              {:id #uuid "643cbbbe-d2cb-4384-b867-7544f2b0dd6f",
               :page 38,
               :position {:bounding {:x1 14,
                                     :y1 55.404296875,
                                     :x2 497,
                                     :y2 257.404296875,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 38},
               :content {:text "[:span]", :image 1681701820820},
               :properties {:color "red"}}
              {:id #uuid "643cbbcc-5bf7-47e3-ba64-dac3432e9cab",
               :page 39,
               :position {:bounding {:x1 9,
                                     :y1 52.265625,
                                     :x2 493,
                                     :y2 267.265625,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 39},
               :content {:text "[:span]", :image 1681701834554},
               :properties {:color "red"}}
              {:id #uuid "643cbbd4-45a0-43d1-b64b-a0cb0aeb67ba",
               :page 40,
               :position {:bounding {:x1 15,
                                     :y1 56.255859375,
                                     :x2 496,
                                     :y2 266.255859375,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 40},
               :content {:text "[:span]", :image 1681701843502},
               :properties {:color "red"}}
              {:id #uuid "643cbbdb-9fbb-419f-82a7-08c2114767b0",
               :page 41,
               :position {:bounding {:x1 15,
                                     :y1 49.8193359375,
                                     :x2 516,
                                     :y2 251.8193359375,
                                     :width 518.9999999999999,
                                     :height 291.93749999999994},
                          :rects (),
                          :page 41},
               :content {:text "[:span]", :image 1681701850826},
               :properties {:color "red"}}],
 :extra {:page 41}}
